.collection-view {
  .item {
    border-bottom: 1px solid black;
    display: flex;
    margin-bottom: 32px;
    padding-bottom: 32px;
    .logo {
      text-align: center;
      width: 300px;
      img {
        border: 3px solid var(--white);
        border-radius: 60px;
        height: 120px;
        object-fit: cover;
        margin-top: 40px;
        width: 120px;
      }
    }
    .content {
      flex: 1;
      max-width: 500px;
      .launch {
        align-items: center;
        display: flex;
        margin: 32px auto 15px;
        & > div {
          background-color: rgba(255, 48, 110, 0.2);
          border-radius: 50%;
          height: 16px;
          margin-right: 12px;
          width: 16px;
          & > div {
            background-color: rgba(255, 48, 110, 0.5);
            border-radius: 50%;
            height: 8px;
            margin-left: 4px;
            margin-top: 4px;
            width: 8px;
          }
        }
      }
      .mint-btn {
        background: var(--button-gradient-3);
        color: var(--white);
        font-size: var(--font-size-l);
        line-height: 35px;
        margin-right: 16px;
        text-align: center;
        width: 240px;
      }
      .social-icons {
        display: flex;
        position: absolute;
        right: 18px;
        .item {
          background-color: var(--black);
          border-radius: 12px;
          margin: 0 12px;
          height: 24px;
          width: 24px;
          .icon {
            color: var(--white);
            margin-top: 5px;
            height: 14px;
            width: 14px;
          }
        }
      }
      .info {
        display: flex;
        justify-content: center;
        margin-bottom: 24px;
        margin-top: 16px;
        .item {
          border-right: 1px solid var(--sonic-silver);
          height: 72px;
          padding: 5px 32px;
          text-align: left;
          .mulish-normal-sonic-silver-12px {
            margin-bottom: 13px;
          }
          &:last-child {
            border-right: none;
          }
        }
      }
    }

    .creator {
      display: flex;
      flex: 1;
      padding: 45px 0 0 0;

      .creator-component {
        flex-direction: column;
        gap: 10px;
        align-items: flex-end;
      }
    }
  }
  .sidebar {
    padding: 30px 10px 0;
    width: 300px;
    position: sticky;
    top: 40px;

    &.collapsed {
      width: 70px;

      .search {
        display: none;
      }

      .MuiFormControl-root:not(.view-mode) {
        display: none;
      }

      .MuiFormControl-root {
        margin: 0px;
      }
    }
    .search {
      div:before,
      div:after {
        border-bottom: none;
      }
      input:focus {
        border-bottom: 1px solid rgba(0, 0, 0, 0.42);
      }
    }
    .sort {
      border: 1px solid rgba(0, 0, 0, 0.42);
      padding: 5px 10px;
      width: 100%;
      &:before,
      &:after {
        border-bottom: none;
      }
    }
    .view-mode {
      width: 100%;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }
    .category-items {
      display: flex;
      flex-wrap: wrap;

      .category-card {
        border: 1px solid var(--black);
        padding: 5px 10px;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
          box-shadow: var(--card-boxshadow);
        }

        &.selected {
          color: var(--white);
          background-color: var(--theme-color-1);
          border-color: transparent;
          box-shadow: var(--card-boxshadow);
        }
      }
    }
  }
  .content {
    padding: 30px 0px 30px 25px;

    .view {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

      &.module {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

        .art-card {
          min-width: 200px;

          .auction-image {
            height: 200px;

            img {
              height: 100%;
              max-width: 100%;
              min-width: unset;
            }
          }
        }
      }

      .art-card {
        margin: 0px;
        max-width: 100%;

        .auction-image {
          max-width: 100%;

          img {
            width: 100%;
          }
        }

        .nft-image {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }

        .meta {
          min-height: 103.83px;
        }
      }
    }
  }
}
