.collections-view {
  .collection-group {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column-gap: 65px;
    -webkit-column-gap: 65px;
    -moz-column-gap: 65px;
    column-gap: 65px;
    margin-left: 30px;

    a {
      margin-bottom: 30px;
    }

    @media (max-width: 1678px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @media (max-width: 1200px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media (max-width: 800px) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
}
