.create-collection {
  .thumbnail-wrapper {
    text-align: center;

    img:hover {
      opacity: 60%;
    }
  }

  .input-item {
    margin-top: 20px;
  }

  .info-content {
    width: 100%;
  }

  .limit-input {
    height: 42px;
    border-radius: 8px;
    border-color: transparent;

    input {
      height: 42px;
    }
  }

  .save-btn {
    margin-top: 80px;
  }
}
