.landing-view {
  @import './components/HeaderSection/index.less';
  @import './components/ActionsSection/index.less';
  @import './components/AuctionsSection/index.less';
  @import './components/RecentList/index.less';
  @import './components/CollectionsSection/index.less';
  @import './components/CreatorsSection/index.less';

  .section-title-row {
    display: flex;
    justify-content: space-between;

    .section-title {
      font-weight: 600;
      font-size: 36px;
      line-height: 44px;

      @media (max-width: 768px) {
        font-size: 30px;
      }
    }

    @media (max-width: 768px) {
      justify-content: space-around;
    }
  }
}
